html{
    position: relative;
    width: 1440px;
    height: 1220px;
    
    background: linear-gradient(180deg, #5DD39E 0%, rgba(255, 255, 255, 0) 100%), #348AA7;
}

.App #title { 
    position: absolute;
    width: 995px;
    height: 136px;
    left: 222px;
    top: 80px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 110px;
    text-align: center;
    color: #513B56;
}

.App #description {
    position: absolute;
    width: 832px;
    height: 176px;
    left: 304px;
    top: 231px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #513B56;
}

.App #playername {
    position: absolute;
    width: 812px;
    height: 108px;
    left: 324px;
    top: 426px;
}

.App #waitroom {
    position: absolute;
    width: 466px;
    height: 111px;
    left: 487px;
    top: 582px;
}

.App #joinroom {
    position: absolute;
    width: 466px;
    height: 111px;
    left: 487px;
    top: 712px;
}

.App .interact {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    background: #BCE784;
    color: #513B56;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}