.GameRoom html {
    position: relative;
    width: 100%;
    height: 100%;  
  
  background: linear-gradient(180deg, #5DD39E 0%, rgba(255, 255, 255, 0) 100%), #348AA7;
}

.GameRoom #spell {
    position: absolute;
    width: 638px;
    height: 125px;
    left: 254px;
    top: 104px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 91px;
    text-align: center;
    color: #513B56;
}

.GameRoom #playback {
    position: absolute;
    height: 114.3px;
    width: 202px;
    right: 25%;
    top: 7.8%;
    
    background: #BCE784;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.GameRoom .example {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    text-align: center;

    color: #513B56;
}

.GameRoom #enterword {
    position: absolute;
    width: 341px;
    height: 37px;
    left: 556px;
    top: 325px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;

    color: #513B56;
}

.GameRoom #empty {
    position: absolute;
    width: 750px;
    height: 125px;
    left: 345px;
    top: 362px;

    background: #BCE784;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.GameRoom #exsent {
    position: absolute;
    width: 244px;
    height: 64px;
    left: 183px;
    top: 229px;
}

.GameRoom #random {
    position: absolute;
    width: 802px;
    height: 64px;
    left: 456px;
    top: 229px;
}

.GameRoom #p1 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 540px;
}

.GameRoom #p2 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 644px;
}
.GameRoom #p3 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 750px;
}

.GameRoom #p4 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 110px;
    top: 854px;
}

.GameRoom #p5 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 540px;
}
.GameRoom #p6 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 644px;
}
.GameRoom #p7 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 750px;
}
.GameRoom #p8 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 801px;
    top: 854px;
}
.GameRoom #s1 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 540px;
}

.GameRoom #s2 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 644px;
}

.GameRoom #s3 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 750px;
}

.GameRoom #s4 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 548px;
    top: 856px;    
}

.GameRoom #s5 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 540px;
}

.GameRoom #s6 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 644px;
}

.GameRoom #s7 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 750px;
}
.GameRoom #s8 {
    position: absolute;
    width: 91px;
    height: 84px;
    left: 1239px;
    top: 856px;
}

.GameRoom .player {
    background: #DEF1C6;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}

.GameRoom .score {
    background: #DEF1C6;
    border: 1px solid #000000;
    box-sizing: border-box;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 73px;
    text-align: center;

    color: #000000;
}