.grid {
    display: grid;
    grid-template-columns: 15% 28% 7% 7% 28% 15%;
    grid-template-rows: 15% 10% 10% 40% 10% 15%;
}
html {
    position: relative;
    width: 100%;
    height: 100%;  
    background: linear-gradient(180deg, #5DD39E 0%, rgba(255, 255, 255, 0) 100%), #348AA7;
}
#code {
    position: absolute;
    width: 379px;
    height: 108px;
    left: 15%;
    top: 7.5%;
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 91px;
    text-align: center;
    padding-left: 15px;
    padding-top: 7px;
    color: #513B56;
}

#codebox {
    position: absolute;
    width: 370px;
    height: 108px;
    right: 15%;
    top: 7.5%;
    grid-column: 4 / 6;
    grid-row: 2 / 3;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 78px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    color: #7E7E7E;

    background: #DEF1C6;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#start {
    position: absolute;
    width: 70%;
    height: 8.5%;
    top: 20%;
    grid-column: 2 / 6;
    grid-row: 3 / 4;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 91px;
    text-align: center;
    padding-top: 7px;
    color: #513B56;  
 
    background: #BCE784;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

#menu {
    position: absolute;
    width: 400px;
    height: 6%;
    left: 36.75%;
    top: 868px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-top: 10px;
    color: #513B56;

    background: #BCE784;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

#p1 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 293px;
    top: 429px;
}

#p2 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 293px;
    top: 534px;
}

#p3 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 293px;
    top: 639px;
}

#p4 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 293px;
    top: 744px;
}

#p5 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 731px;
    top: 429px;
}

#p6 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 731px;
    top: 534px;
}

#p7 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 731px;
    top: 639px;
    
}

#p8 {
    position: absolute;
    width: 418px;
    height: 84px;
    left: 731px;
    top: 744px;
}

.playername {
    background: #DEF1C6;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #513B56;
}